#h4{
    color:#373c38;
    padding-top: 15px;
    padding-bottom: 7px;
}
#h44{
    color:#373c38;
    padding-top: 28px;
    padding-bottom: 7px;
}
#p{
    width:345px;
    color:#656e66;
    padding-bottom: 8px;
}
#seemore{
    color:#4ABAAD;
}
.innerDiv{
    width: 360px;
    height:572px;
    transform:translate(0px,-37px);
}
.box1{
    width: 404px;
    height: 673px;
    justify-content:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:12px;
    background-color: #FFFFFF;
}
.grid1{
    display: flex;
    justify-content: space-evenly;
}
.grid2{
    height:462px;
    transform: translateY(-19px);
}
.routes{
    height:462px;
}
.details{
    height: 140px;
    width:214px;
}
.btnBox{
    padding-top: 35px;
    display: flex;
}
.applyBtn{
    padding-left: 8px;
}
.title{
    max-width:214px;
    width:100%;
    max-height:24px;
    height:100%;
    font-size:16px;
    line-height:24px;
    padding-bottom: 5px;
    margin-top: 6px;
}
.font3{
    color:#656E66;
}
.font2{
    color:#656E66;
    position: absolute;
    top:73px;
}

.hr{
    width:359px;
    border-top:none;
}
.icons{
    align-items: center;
    align-content: center;
    display: flex;
    width:200px;
    padding-top: 10px;
    padding-bottom: 12px;
    justify-content: space-between;
}
#icon{
    justify-content: center;
    align-items: center;
    display: flex;
    width:40px;
    height:40px;
    fill:#94a196;
    cursor: pointer;
}
#icon:hover{
    background-color: #30a193;
    border-radius: 90%;
    justify-content: center;
    fill:white;
}
.dot {
    height: 4px;
    width: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 4px;
  }

.hrs{
     display:flex;
     font-size: 12px;
     width:190px;
     justify-content: space-between;
     padding-top: 5px;
     margin-left: -11px;
     color:#656e66;
 } 
 .cards{
     display:flex;
     flex-direction: column;
     grid-gap: 8px;
     padding-top: 10px;
     padding-right: 10px;
 }

 #icon-active{
    background-color: #30a193;
    border-radius: 50%;
    padding:8px 10.5px 5px 9.5px ;
    justify-content: center;
    fill:white;
}