.tableParameters {
  width: 140px;
  height: 160px;
  display:flex;
  flex-direction: column;
  justify-content: start;
}
.heading {
  width: 64px;
  height: 22px;
  line-height: 22px;
  font-weight: 600px;
  font-size: 16px;
}
.css-1rbzz6a-MuiTypography-root{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;

}