.firstRadioButton{
    height: 16px;
    width: 16px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    
}

.secondRadioButton{
height: 16px;
width: 16px;
left: 0px;
top: 0px;
border-radius: 4px;

}